
<div class="row">
    <div class="col-md-3 col-md-offset-2">
        <label>Podaj adres strony do analizy</label>
    </div>
    <div class="col-md-4">
        <input type="url" pattern="https?://.+" style="width:100%" id="url" />
    </div>
    <div class="col-md-2">
        <input type="button" onclick="getData()" value="Szukaj" />
    </div>
    <div id="graph-container" style="width:100%" />
</div>